@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');
body{
    overflow: hidden;
    font-family: 'Exo 2', sans-serif;
}
.navbar-brand img{
    width: 80px;
}

.navbar-nav{
    margin-left: auto;
}

.home,
.home .row{
    width: 100%;
    height: 90vh;
}

.half-bg{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #a29bfe;
    z-index: -1;
}
.home .text h1{
    color: #3867d6;
}

.home .text h2{
    font-size: 3rem;
    font-weight: 600;
}

.signup{
    width: 100%;
    height: 90vh;
}

.signup img{
    margin-top: 140px;
}
.login img{
    margin-top: 40px;
}

.signup form,
.login form{
    margin-top: 30px;
}

.signup form input,
.login form input{
    width: 450px;
    border: none;
    border-bottom: 2px solid #000;
}

.signup form input:focus,
.login form input:focus{
    box-shadow: none;
}

.signup form a,
.login form a{
    font-size: .9rem;
    font-weight: 600;
}